.button {
    padding: 0.6rem 1.5rem;
    border-radius: 5px;
    border: none;
    margin: 1rem auto;
    font-size: medium;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
}

.add_task {
    background-color: rgb(36, 211, 60);
    color: rgb(11, 46, 4);
}

.maybe_later {
    background-color: red;
    color: rgb(235, 229, 229);
}

.title {
    text-align: center;
}
