.show_todo {
    width: 80%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: space-between;
    margin: 0.5rem auto;
    padding: 0.5rem;
    background-color: gainsboro;
    border-radius: 5px;
}

.delete_btn {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 0.2rem 0.8rem;
    font-weight: 600;
}
